{% extends 'myresume/base.html' %}

{% block content %}

<div class=" container mt-5 ">
    <h1 class="text-warning mb-5 border-bottom">TRAINING</h1>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fas fa-code fa-2xl mb-3 i-color"></i>
            <h3>FULL-STACK PYTHON DEVELOPER</h3>
            <p class="ss-color">Completed technical training under the UPDESCO ( Uttar Pradesh
                Development Systems Corporation Ltd ).</p>
            <p class="ss-color">Completed Training in Python & Django with NITD Noida.</p>
        </div>

        <div class="col-sm-4">
            <i class="fa-brands fa-python fa-2xl mb-3 i-color"></i>
            <h3>PYTHON PROGRAMMING</h3>
            <p class="ss-color">Successfully completed a 6 weeks online certified training on
                Programming with Python. The training consisted of Introduction to
                Python, Using Variables in Python, Basics of Programming in Python,
                Principles of Object-oriented Programming (OOP), Connecting to
                SqLite database. In the Final assessments , I scored 78% marks.</p>
        </div>

        <div class="col-sm-4">
            <i class="fa-regular fa-file-excel fa-2xl mb-3 i-color"></i>
            <h3>ADVANCE EXCEL</h3>
            <p class="ss-color">Successfully completed a 4 weeks online certified training on
                Advanced Excel. The training consisted of Getting Started with Excel,
                Excel Basics, Formulas & Functions, Working with Data, and
                Advanced Concepts modules.</p>
        </div>




{% endblock content %}