{% extends 'myresume/base.html' %}

{% block content %}

<div class=" container mt-5">
    <h1 class="text-warning mb-5 border-bottom">PROJECT</h1>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fas fa-code fa-2xl mb-3 i-color"></i>
            <h3>PORTFOLIO WEBSITE</h3>
            <p class="ss-color">During training period of NITD , I worked on project where I
                successfully created a portfolio website by using Django,HTML,CSS
                and Bootstrap.</p>
        </div>

        <div class="col-sm-4">
            <i class="fa-solid fa-briefcase fa-2xl mb-3 i-color"></i>
            <h3>OFFICE EMPLOYEE MANAGEMENT SYSTEM</h3>
            <p class="ss-color">During training period of NITD , I worked on project where I
                successfully created a registration templates website by using
                Django,HTML,CSS and Bootstrap in which I explore about CRUD
                application of django.p>
        </div>

        <div class="col-sm-4">
            <i class="fa-solid fa-address-card fa-2xl mb-3 i-color"></i>
            <h3>REGISTRATION TEMPLATES INTEGRATION</h3>
            <p class="ss-color">During training period of NITD , I worked on project where I
                successfully created a registration templates website by using
                Django,HTML,CSS and Bootstrap in which I explore about
                authentication process of django.p>
        </div>




{% endblock content %}