{% extends 'myresume/base.html' %}
{% load static %}


{% block content %}

<div class=" container mt-5 ">
    <h1 class="text-warning mb-5 border-bottom">CERTIFICATE</h1>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <img src="{% static 'myresume/certificate/Python_internshala.jpg' %}" alt="Python_internshala" class="img-thumbnail" width="250px"
            height="150px">
            <a href="https://drive.google.com/file/d/1iGxziNB8N7A8fy7vAuZ3__9cg7tpTA7Q/view?usp=sharing">
                <h5 class="text-white mt-2">Python_By_INTERNSHALA</h5>
            </a>
            
        </div>

        <div class="col-sm-4">
            <img src="{% static 'myresume/certificate/Python_rcpl.jpg' %}" alt="Python_internshala" class="img-thumbnail" width="250px"
            height="150px">
            <a href="https://drive.google.com/file/d/1JgbIG1DZDCFhndTSDfyeqE__rrbtW0zx/view?usp=sharing">
                <h5 class="text-white mt-2">Advance_Python_By_RCPL</h5>
            </a>
           
        </div>

        <div class="col-sm-4">
            <img src="{% static 'myresume/certificate/Python_rcpl.jpg' %}" alt="Python_internshala" class="img-thumbnail" width="250px"
            height="150px">
            <a href="https://drive.google.com/file/d/17lAOwPjiMcq6ctsI_gZFoKO9Q4HS-OGC/view?usp=sharing">
                <h5 class="text-white mt-2">Advance_Excel_By_INTERNSHALA</h5>
            </a>
            
        </div>




{% endblock content %}