{% extends 'myresume/base.html' %}


{% block content %}

<div class=" container mt-5">
    <h1 class="text-warning mb-5 border-bottom">QUALIFICATIONS</h1>
</div>

<div class="card mt-5 bg-secondary text-white">
    <div class="card-body">
        <h4 class="mt-3"> B-Tech (CSE)</h4>
        <h5 class="mt-3"><i class="fa-solid fa-graduation-cap mx-3"></i>IIMT College Of Engineering, Greater Noida, 201310 (AKTU)</h5>
        <h6><i class="fas fa-calendar mx-3 "></i> 2020 - 2024 </h6>
    </div>
</div>

<div class="card mt-3 bg-secondary text-white">
    <div class="card-body">
        <h4 class="mt-3"> Intermediate (PCM)</h4>
        <h5 class="mt-3"><i class="fa-solid fa-building-columns mx-3"></i>B.N INTER COLLEGE, INDORE, DINARA , ROHTAS
            (BSEB)</h5>
        <h6><i class="fas fa-calendar mx-3 "></i> 2017 - 2019 </h6>
        <h6><i class="fa-solid fa-square-poll-vertical mx-3"></i> 73.2 %</h6>
    </div>
</div>

<div class="card mt-3 bg-secondary text-white">
    <div class="card-body">
        <h4 class="mt-3"> Matriculation </h4>
        <h5 class="mt-3"><i class="fa-solid fa-building-columns mx-3"></i>TERESA INTNL ACAD BHAGWANGANJ , PATNA
            BIHAR (CBSE)</h5>
        <h6><i class="fas fa-calendar mx-3 "></i> 2016 - 2017 </h6>
        <h6><i class="fa-solid fa-square-poll-vertical mx-3"></i> 9.2 cgpa</h6>
    </div>
</div>



{% endblock content %}