{% extends 'myresume/base.html' %}

{% block content %}

<div class=" container mt-5">
    <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4 text-justify">
            <i class="fa-solid fa-magnifying-glass-dollar fa-2xl mb-3 i-color"></i>
            <h3>SEO</h3>
            <p class="ss-color">Elevate your online presence and drive organic traffic with me as a top-notch SEO services. 
                We optimize your website to rank higher on search engines, ensuring your services reach a wider audience. 
                Boost your digital success with me today!</p>
        </div>

        <div class="col-sm-4">
            <i class="fas fa-palette fa-2xl mb-3 i-color"></i>
            <h3>Web Design</h3>
            <p class="ss-color">Transform your vision into a stunning online reality with me as a web design services. 
                I craft engaging, user-friendly websites tailored to your brand, ensuring a seamless online experience for your audience. 
                Elevate your online presence and make a lasting impression with me.</p>
        </div>

        <div class="col-sm-4">
            <i class="fas fa-code fa-2xl mb-3 i-color"></i>
            <h3>Web Development</h3>
            <p class="ss-color">Elevate your digital presence with our web development services.
                We specialize in creating robust, dynamic websites and web applications that cater to your unique needs.
                As a expert developers I turn your ideas into functional, user-friendly online solutions. Unlock the full potential of your online presence with me.</p>
        </div>

        <!-- Second row -->
        <div class="row text-center text-white mb-5">
            <div class="col-sm-4">
                <i class="fas fa-pencil fa-2xl mb-3 i-color"></i>
                <h3>Logo Design</h3>
                <p class="ss-color">Craft a compelling brand identity with me. 
                    As a well designers create unique, memorable logos that capture your brand's essence. 
                    Make a lasting impression and stand out in the crowded market with a distinctive logo that speaks volumes about your business.</p>
            </div>

            <div class="col-sm-4">
                <i class="fas fa-database fa-2xl mb-3 i-color"></i>
                <h3>Hosting</h3>
                <p class="ss-color">Reliable hosting is the backbone of your online presence. 
                    As a hosting service provider I offers secure, high-performance solutions to keep your website or application running smoothly. 
                    Trust us for top-notch server infrastructure, 24/7 support, and peace of mind, ensuring your digital presence is always accessible and responsive.
               </p>
            </div>

            <div class="col-sm-4">
                <i class="fas fa-headset fa-2xl mb-3 i-color"></i>
                <h3>Support</h3>
                <p class="ss-color">Count on our unwavering support to keep your business thriving. 
                    Our dedicated support service is here to assist you around the clock, addressing any issues or questions you may have. 
                    We're your trusted partner, ensuring a seamless experience and peace of mind as you focus on what matters most—your success.
                </p>
            </div>

        </div>

{% endblock content %}